<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<!-- 	<section class="content"> -->
	<div id="section_healthy_assess_sysAssessRiskInfo">
		<!-- 			<div class="box-header with-border"> -->
		<!-- 				<h3 class="box-title">企业信息</h3> -->
		<!-- 				<div class="box-tools pull-right"> -->
		<!-- 					<button type="button" class="btn btn-box-tool" data-widget="collapse"> -->
		<!-- 						<i class="fa fa-minus"></i> -->
		<!-- 					</button> -->
		<!-- 					<button type="button" class="btn btn-box-tool" data-widget="remove"> -->
		<!-- 						<i class="fa fa-times"></i> -->
		<!-- 					</button> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<div class="box-body">
			<input type="text" style="display: none;" id="healthy_assess_sysAssessRiskInfo_uuid" name="uuid" th:value="${sysAssessRiskInfo.uuid}" /> <input type="text" style="display: none;" id="healthy_assess_sysAssessRiskInfo_deleteFlag" name="deleteFlag" th:value="${sysAssessRiskInfo.deleteFlag}" /> <input type="text" style="display: none;" id="healthy_assess_sysAssessRiskInfo_discription" name="discription" th:value="${sysAssessRiskInfo.discription}" /> <input type="text" style="display: none;" id="healthy_assess_sysAssessRiskInfo_baseUuid" name="baseUuid" th:value="${sysAssessRiskInfo['baseUuid']}" />
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">神经系统病史:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_shenjing" >
					<label> <input type="radio"  name="shenjing" value="极危低" disabled="disabled" />极危低
					</label>
					<label> <input type="radio"  name="shenjing" value="低危" disabled="disabled" />低危
					</label>
					<label> <input type="radio"  name="shenjing" value="中危" disabled="disabled" />中危
					</label>
					<label> <input type="radio"  name="shenjing" value="高危" disabled="disabled" />高危
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">是否服用抗凝药物:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_yongguokangneng" >
					<label> <input type="radio"   name="yongguokangneng" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="yongguokangneng" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">服用β受体阻滞剂:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_zuzhiji" >
					<label> <input type="radio"   name="zuzhiji" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="zuzhiji" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">心脑血管病史:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_xueguanbingshi" >
					<label> <input type="radio"   name="xueguanbingshi" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="xueguanbingshi" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">深静脉血栓/肺栓塞风险:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_xueshuan" >
					<label> <input type="radio"   name="xueshuan" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="xueshuan" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">呼吸系统病史:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_huxi" >
					<label> <input type="radio"   name="huxi" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="huxi" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">消化系统病史:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_xiaohua" >
					<label> <input type="radio"   name="xiaohua" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="xiaohua" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-6 row form-group">
				<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">其他:</label>
				<div class="col-sm-8 boto" id="healthy_assess_sysAssessRiskInfo_qita" >
					<label> <input type="radio"   name="qita" value="无" disabled="disabled" /> 无
					</label>
					<label> <input type="radio"   name="qita" value="有" disabled="disabled" />有
					</label>
				</div>
			</div>
			<div class="col-lg-12 row text-center">
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessRiskInfo_edit_button">编辑</button>
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessRiskInfo_save_button" style="display: none;">提交</button>
				<button type="button" class="btn btn-danger" id="healthy_assess_sysAssessRiskInfo_exit_button" style="display: none;">关闭</button>
			</div>
		</div>
	</div>
	<!-- 	</section> -->


	<script th:inline="javascript">
		var sysAssessRiskInfo = [[${sysAssessRiskInfo}]];
	</script>
	<script type="text/javascript" src="/pages/healthy/assess/sysassessriskinfodetail.js"></script>
</body>
</html>


