<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section class="content">
		<div id="section_healthy_assess_sysAssessInfo">
			<!-- 			<div class="box-header with-border"> -->
			<!-- 				<h3 class="box-title">企业信息</h3> -->
			<!-- 				<div class="box-tools pull-right"> -->
			<!-- 					<button type="button" class="btn btn-box-tool" data-widget="collapse"> -->
			<!-- 						<i class="fa fa-minus"></i> -->
			<!-- 					</button> -->
			<!-- 					<button type="button" class="btn btn-box-tool" data-widget="remove"> -->
			<!-- 						<i class="fa fa-times"></i> -->
			<!-- 					</button> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
			<div class="box-body">
				<input type="text" style="display: none;" id="healthy_assess_sysAssessInfo_uuid" name="uuid" th:value="${sysAssessInfo.uuid}" /> 
				<input type="text" style="display: none;" id="healthy_assess_sysAssessInfo_deleteFlag" name="deleteFlag" th:value="${sysAssessInfo.deleteFlag}" /> 
				<input type="text" style="display: none;" id="healthy_assess_sysAssessInfo_discription" name="discription" th:value="${sysAssessInfo.discription}" /> 
				<input type="text" style="display: none;" id="healthy_assess_sysAssessInfo_baseUuid" name="baseUuid" th:value="${sysAssessInfo['baseUuid']}" />

				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">过敏药物或食物:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_guomin">
						<label><input type="radio" name="guomin" value="无" disabled="disabled" />无 
						</label><label><input type="radio" name="guomin" value="有" disabled="disabled" />有 </label>

					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">手术外伤史:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_waishang">
						<label><input type="radio" name="waishang" value="无" disabled="disabled" />无 </label>
						<label><input type="radio" name="waishang" value="有" disabled="disabled" />有 </label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">家族遗传病及传染病史:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_yichuan">
						<label><input type="radio" name="yichuan" value="无" disabled="disabled" />无 </label>
						<label><input type="radio" name="yichuan" value="有" disabled="disabled" />有 </label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">大小便:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_daxiaobian">
						<label><input type="radio" name="daxiaobian" value="正常" disabled="disabled" />正常</label>
						<label><input type="radio" name="daxiaobian" value="障碍" disabled="disabled" />障碍</label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">意识状态:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_yisizhuangtai">
						<label><input type="radio" name="yisizhuangtai" value="正常" disabled="disabled" />正常</label>
						<label><input type="radio" name="yisizhuangtai" value="嗜睡" disabled="disabled" />嗜睡</label>
						<label><input type="radio" name="yisizhuangtai" value="烦躁" disabled="disabled" />烦躁</label>
						<label><input type="radio" name="yisizhuangtai" value="昏迷" disabled="disabled" />昏迷</label>
						<label><input type="radio" name="yisizhuangtai" value="其他" disabled="disabled" />其他</label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">自主能力:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_zizhunengli">
						<label><input type="radio" name="zizhunengli" value="正常" disabled="disabled" />正常</label>
						<label><input type="radio" name="zizhunengli" value="全瘫" disabled="disabled" />全瘫</label>
						<label><input type="radio" name="zizhunengli" value="截瘫" disabled="disabled" />截瘫</label>
						<label><input type="radio" name="zizhunengli" value="偏瘫" disabled="disabled" />偏瘫</label>
						<label><input type="radio" name="zizhunengli" value="其他" disabled="disabled" />其他</label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">生命体征平稳:</label>
					<div class="col-sm-8 boto" id="healthy_assess_sysAssessInfo_tizheng">
						<label><input type="radio" name="tizheng" value="是" disabled="disabled" />是</label>
						<label><input type="radio" name="tizheng" value="否" disabled="disabled" />否</label>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">ADL评分:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="healthy_assess_sysAssessInfo_adl" name="adl" th:value="${sysAssessInfo['adl']}" placeholder="ADL评分" disabled="disabled" readonly="readonly" />
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">Ashworth评级:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="healthy_assess_sysAssessInfo_ashworth" name="ashworth" th:value="${sysAssessInfo['ashworth']}" placeholder="Ashworth评级" disabled="disabled" readonly="readonly"/>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">FIM评分:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="healthy_assess_sysAssessInfo_fim" name="fim" th:value="${sysAssessInfo['fim']}" placeholder="FIM评分" disabled="disabled" readonly="readonly"/>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">Burnnstrom分级:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="healthy_assess_sysAssessInfo_burnnstrom" name="burnnstrom" th:value="${sysAssessInfo['burnnstrom']}" placeholder="Burnnstrom分级" disabled="disabled"  readonly="readonly"/>
					</div>
				</div>
				<div class="col-lg-6 row form-group">
					<label class="col-sm-4 control-label text-right font16" style="height: 34px; padding-top: 5px;">ASIA分级:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="healthy_assess_sysAssessInfo_asia" name="asia" th:value="${sysAssessInfo['asia']}" placeholder="ASIA分级" disabled="disabled" readonly="readonly" />
					</div>
				</div>
				<div class="col-lg-12 row text-center">
					<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessInfo_edit_button">编辑</button>
					<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessInfo_save_button" style="display: none;">提交</button>
					<button type="button" class="btn btn-danger" id="healthy_assess_sysAssessInfo_exit_button" style="display: none;">关闭</button>
				</div>
			</div>
		</div>
		<!-- 	</section> -->


		<script th:inline="javascript">
		var sysAssessInfo = [[${sysAssessInfo}]];
	</script>
		<script type="text/javascript" src="/pages/healthy/assess/sysassessinfodetail.js"></script>
</body>
</html>


