<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
<!-- 	<section class="content"> -->
		<div class="box box-warning" id="section_healthy_assess_sysAssessAdlInfo">
			<div class="box-header with-border">
				<h3 class="box-title">企业信息</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-minus"></i>
					</button>
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<input type="text" style="display:none;" id="healthy_assess_sysAssessAdlInfo_uuid" name="uuid"  />
				<input type="text" style="display:none;" id="healthy_assess_sysAssessAdlInfo_deleteFlag" name="deleteFlag"   />
				<input type="text" style="display:none;" id="healthy_assess_sysAssessAdlInfo_discription" name="discription"  />
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">评分:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="healthy_assess_sysAssessAdlInfo_score" name="score"   placeholder="评分" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">一般外键:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="healthy_assess_sysAssessAdlInfo_assessUuid" name="assessUuid"  placeholder="一般外键" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">字段名:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="healthy_assess_sysAssessAdlInfo_name" name="name"   placeholder="字段名" disabled="disabled"/>
						</div>
					</div>
					<div class=" row form-group">
						<label class="col-sm-3 control-label text-right font16" style="height: 34px;padding-top: 5px;">排序:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="healthy_assess_sysAssessAdlInfo_orderNum" name="orderNum"  placeholder="排序" disabled="disabled"/>
						</div>
					</div>
				<div class="row text-center">
					<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessAdlInfo_edit_button">编辑</button>
					<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessAdlInfo_save_button" style="display: none;">提交</button>
					<button type="button" class="btn btn-danger" id="healthy_assess_sysAssessAdlInfo_exit_button">关闭</button>
				</div>
			</div>
		</div>
<!-- 	</section> -->
	
	
	<script th:inline="javascript">
		var sysAssessAdlInfo = [[${sysAssessAdlInfo}]];
	</script>
	<script type="text/javascript" src="/pages/healthy/assess/sysassessadlinfodetail.js"></script>
</body>
</html>


