<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<style type="text/css">
table {
	border: 1px solid;
	text-align: center;
	font: bold;
	width: 100%;
}

table tr, table th, table td {
	border: 1px solid;
	text-align: center;
}
</style>
</head>
<body>
	<!-- 	<section class="content"> -->
	<div class="box box-warning" id="section_healthy_assess_sysAssessAsiaInfo">
		<div class="box-header with-border">
			<h3 class="box-title">ASIA损伤程度分级</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove">
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<input type="text" style="display: none;" id="healthy_assess_sysAssessAsiaInfo_uuid" name="uuid"  th:value="${sysAssessAsiaInfo.uuid}"/> 
			<input type="text" style="display: none;" id="healthy_assess_sysAssessAsiaInfo_deleteFlag" name="deleteFlag"  th:value="${sysAssessAsiaInfo.deleteFlag}"/> 
			<input type="text" style="display: none;" id="healthy_assess_sysAssessAsiaInfo_discription" name="discription"  th:value="${sysAssessAsiaInfo.discription}"/>
			<input type="text" style="display:none;" id="healthy_assess_sysAssessAsiaInfo_assessUuid" name="assessUuid"  th:value="${sysAssessAsiaInfo.assessUuid}"/>
			<div id="healthy_assess_sysAssessAsiaInfo_jibie">
				<table>
					<thead>
						<tr>
							<th>级别</th>
							<th>临床表现</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>A.完全性损伤</td>
							<td><div class="radio">
									<label> <input type="radio" name="级别" value="A.完全性损伤"  disabled="disabled"/>骶段(S4~S5)无任何感觉或运动功能
									</label>
								</div></td>
						</tr>
						<tr>
							<td>B.不完全损伤</td>
							<td><div class="radio">
									<label> <input type="radio" name="级别" value="B.不完全损伤"  disabled="disabled"/>损伤平面以下包括骶段有感觉但无运动功能
									</label>
								</div></td>
						</tr>
						<tr>
							<td>C.不完全损伤</td>
							<td><div class="radio">
									<label> <input type="radio" name="级别" value="C.不完全损伤"  disabled="disabled"/>损伤平面以下存在运动功能，大部分关键肌肌力3级以下
									</label>
								</div></td>
						</tr>
						<tr>
							<td>D.不完全损伤</td>
							<td><div class="radio">
									<label> <input type="radio" name="级别" value="D.不完全损伤"  disabled="disabled"/>损伤平面以下存在运动功能，大部分关键肌肌力3级或以上
									</label>
								</div></td>
						</tr>
						<tr>
							<td>E.正常</td>
							<td><div class="radio">
									<label> <input type="radio" name="级别" value="E.正常"  disabled="disabled"/>感觉和运动功能正常
									</label>
								</div></td>
						</tr>
						<tr>
							<td>评级</td>
							<td id="asia_jibie">/5</td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
		<div class="box-footer">
			<div class="row text-center">
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessAsiaInfo_edit_button">编辑</button>
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessAsiaInfo_save_button" style="display: none;">提交</button>
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessAsiaInfo_save_and_next_button">下一项（风险因素评估）</button>
				<button type="button" class="btn btn-danger" id="healthy_assess_sysAssessAsiaInfo_exit_button" >关闭</button>
			</div>
		</div>
	</div>
	<!-- 	</section> -->


	<script th:inline="javascript">
		var sysAssessAsiaInfo = [[${sysAssessAsiaInfo}]];
	</script>
	<script type="text/javascript" src="/pages/healthy/assess/sysassessasiainfodetail.js"></script>
</body>
</html>


