<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title></title>
<style type="text/css">
table {
	border: 1px solid ;
	text-align: center;
	font: bold;
	width: 100%;
}
table tr {
	padding: 12px 0 8px 0;
}
table tr ,table th , table td {
	border: 1px solid ;
	text-align: center;
}

#disc{
	margin-bottom: 20px;
	padding-bottom: 15px;
}
#disc p.span15{
	margin-left: 15px;
	
}
#disc p.span30{
	margin-left: 30px;
}
#disc p.span45{
	margin-left: 45px;
}
</style>
</head>
<body>
	<!-- 	<section class="content"> -->
	<div class="box box-warning" id="section_healthy_assess_sysAssessFimInfo">
		<div class="box-header with-border">
			<h3 class="box-title">功能独立性评定（FIM）量表</h3>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse">
					<i class="fa fa-minus"></i>
				</button>
				<button type="button" class="btn btn-box-tool" data-widget="remove">
					<i class="fa fa-times"></i>
				</button>
			</div>
		</div>
		<div class="box-body">
			<input type="text" style="display: none;" id="healthy_assess_sysAssessFimInfo_uuid" name="uuid" /> 
			<input type="text" style="display: none;" id="healthy_assess_sysAssessFimInfo_deleteFlag" name="deleteFlag" /> 
			<input type="text" style="display: none;" id="healthy_assess_sysAssessFimInfo_discription" name="discription" />
			<div >
				<table >
					<thead>
						<tr>
							<th rowspan="2" colspan="4">项目</th>
							<th colspan="2">独立</th>
							<th colspan="5">依赖</th>
						</tr>
						<tr>
							<th>完全独立</th>
							<th>有条件独立</th>
							<th>监护和准备</th>
							<th>少量肢体接触的帮助</th>
							<th>中度身体接触的帮助</th>
							<th>大量身体接触的帮助</th>
							<th>完全依赖</th>
						</tr>
					</thead>
					<tbody id="sport-group">
						<tr>
							<td rowspan="13">运动功能</td>
							<td rowspan="6">自理能力</td>
							<td >1</td>
							<td >进食</td>
							<td ><input type="radio" name="进食" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="进食" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >2</td>
							<td >梳洗修饰</td>
							<td ><input type="radio" name="梳洗修饰" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="梳洗修饰" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >3</td>
							<td >洗澡</td>
							<td ><input type="radio" name="洗澡" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="洗澡" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >4</td>
							<td >穿裤子</td>
							<td ><input type="radio" name="穿裤子" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿裤子" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >5</td>
							<td >穿上衣</td>
							<td ><input type="radio" name="穿上衣" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="穿上衣" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >6</td>
							<td >上厕所</td>
							<td ><input type="radio" name="上厕所" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="上厕所" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td rowspan="2">括约肌控制</td>
							<td >7</td>
							<td >膀胱管理</td>
							<td ><input type="radio" name="膀胱管理" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="膀胱管理" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >8</td>
							<td >直肠管理</td>
							<td ><input type="radio" name="直肠管理" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="直肠管理" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
						<td rowspan="3">转移</td>
							<td >9</td>
							<td >床、椅、轮椅间</td>
							<td ><input type="radio" name="床、椅、轮椅间" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="床、椅、轮椅间" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >10</td>
							<td >入厕</td>
							<td ><input type="radio" name="入厕" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="入厕" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >11</td>
							<td >盆浴或淋浴</td>
							<td ><input type="radio" name="盆浴或淋浴" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="盆浴或淋浴" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td rowspan="2">行走</td>
							<td >12</td>
							<td >步行、轮椅</td>
							<td ><input type="radio" name="步行、轮椅" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="步行、轮椅" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >13</td>
							<td >上下楼梯</td>
							<td ><input type="radio" name="上下楼梯" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="上下楼梯" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td colspan="4">运动功能评分</td>
							<td colspan="7" id="sport_score"></td>
						</tr>
					</tbody>
					<tbody id="yishi-group">
						<tr>
							<td  rowspan="5">认知功能</td>
							<td rowspan="2">交流</td>
							<td >14</td>
							<td >理解</td>
							<td ><input type="radio" name="理解" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="理解" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >15</td>
							<td >表达</td>
							<td ><input type="radio" name="表达" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="表达" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td rowspan="3">社会认知</td>
							<td >16</td>
							<td >社会交往</td>
							<td ><input type="radio" name="社会交往" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="社会交往" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >17</td>
							<td >解决问题</td>
							<td ><input type="radio" name="解决问题" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="解决问题" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td >18</td>
							<td >记忆</td>
							<td ><input type="radio" name="记忆" value="7"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="6"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="5"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="4"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="3"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="2"  disabled="disabled"/></td>
							<td ><input type="radio" name="记忆" value="1"  disabled="disabled"/></td>
						</tr>
						<tr>
							<td colspan="4">认知功能评分</td>
							<td colspan="7" id="yishi-score"></td>
						</tr>
						
						<tr>
							<td colspan="4">FIM总分</td>
							<td colspan="7" id="totle-score"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box-footer">
			<div class="row text-center">
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessFimInfo_edit_button">编辑</button>
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessFimInfo_save_button" style="display: none;">提交</button>
				<button type="button" class="btn btn-primary" id="healthy_assess_sysAssessFimInfo_save_and_next_button">下一项（Burnnstrom分级）</button>
				<button type="button" class="btn btn-danger" id="healthy_assess_sysAssessFimInfo_exit_button">关闭</button>
			</div>
		</div>
	</div>
	
	<div>
		<div style="padding-left: 5px;" id="disc">
			<p class="span15"> 功能水平和评分标准:</p>
			<p class="span15"> 独立:活动中不需他人帮助。</p>
			<p class="span30">    1.完全独立(7分)--构成活动的所有作业均能规范、完全地完成，不需修改和辅助设备或用品，并在合理的时间内完成。</p>
			<p class="span30">    2.有条件的独立(6分)--具有下列一项或几项:活动中需要辅助设备；活动需要比正常长的时间；或需要安全方面的考虑。</p>
			<p class="span15">  依赖:为了进行活动。患者需要另个人予以监护或身体的接触性帮助，或者不进行活动。</p>
			<p class="span30">  1.有条件的依赖--患者付出50%或更多的努力，其所需的辅助水平如下:</p>
			<p class="span45">    (1)监护和准备(5分)--患者所需的帮助只限于备用、提示或劝告，帮助者和患者之间没有身体的接触或帮助者仅需要帮助准备必需用品；或帮助带上矫形器。</p>
			<p class="span45">    (2)少量身体接触的帮助(4分)--患者所需的帮助只限于轻轻接触，自己能付出75%或以上的努力。</p>
			<p class="span45">    (3)中度身体接触的帮助(3分)--患者需要中度的帮助，自己能付出50%-75%的努力。</p>
			<p class="span30">  2.完全依赖--患者需要一半以上的帮助或完全依赖他人，否则活动就不能进行。</p>
			<p class="span45">    (1)大量身体接触的帮助（2分）--患者付出的努力小于50%，但大于25%。</p>
			<p class="span45">    (2)完全依赖(1分)--患者付出的努力小于25%。</p>
			<p class="span15">  FIM的最高分为126分（运动功能评分为91分，认知功能评分为35分），最低分18分。</p>
			<p class="span30">   126分=完全独立      108分-125分=基本独立     90-107分=有条件的独立或极轻度依赖</p>
			<p class="span30">   72-89分=轻度依赖    54-71分=中度依赖  36-53分=重度依赖      19-35分=极重度依赖  18分=完全依赖</p> 
		
		</div>
	</div>
	<!-- 	</section> -->


	<script th:inline="javascript">
		var sysAssessFimInfoList = [[${sysAssessFimInfo}]];
	</script>
	<script type="text/javascript" src="/pages/healthy/assess/sysassessfiminfodetail.js"></script>
</body>
</html>


