<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="icon" type="image/x-icon" href="/dist/img/favicon_32x32.ico" />
<link rel="shortcut icon" type="image/x-icon" href="/dist/img/favicon_32x32.ico" />
<title>XXX</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/plugins/bootstrap/css/ionicons.min.css"/>
<link rel="stylesheet" href="/dist/css/AdminLTE.min.css"/>

<!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<style type="text/css">
iframe {
	width: 0px;
	height: 0px;
}
</style>
</head>
<body class="hold-transition login-page">
	<div class="login-box" >
		<div class="login-logo" >
			    <a href="#"><b>大连市残疾人辅具适配</b>系统</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">登录用户</p>
			<p class="login-box-msg">
				测试账号：
				<span style="color: blue">healthy/healthy</span>
			</p>
			<form action="/login" method="post" enctype="application/x-www-form-urlencoded">
				<div class="form-group has-feedback">
					<input type="text" class="form-control" placeholder="Full name" name="username" value="healthy" /> <span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<input type="password" class="form-control" placeholder="Password" name="password" value="healthy" /> <span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>
				<div class="checkbox">
					<label><input type="checkbox" id="rememberme" name="remember-me"  /> 记住 我</label>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-block btn-flat" id="submit">提交</button>
					</div>

				</div>
			</form>

		</div>
	</div>

	<script type="text/javascript" src="plugins/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>
	<script>
// 			$("form").submit();
				$("#submit").bind("mousedown",function(e){
					if(e.keyCode == 13){
						// 模拟点击登陆按钮，触发上面的 Click 事件
						$(this).submit();
					}
				});
	</script>
</body>
</html>
